@import '../colors';

.footer-container {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    border-top: 1px solid black;

    @media (prefers-color-scheme: dark) {
        border-top: 1px solid whitesmoke;
    }

    .copyright {
        margin-bottom: 5px;
        display: inline-block;
    }

    .logo {
        height: 1em;
        margin-left: 0.5rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
}