@import '../colors';

.gameboard-setup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: white;
    @media (prefers-color-scheme: dark) {
        background-color: rgb(44, 44, 44);
    }
    
    .pregame-label {
        margin: 10px;
        font-size: 24px;
        font-weight: 700;
    }

    .selector-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .selector-button {
            background-color: whitesmoke;
            color: darkslategray;
            @media (prefers-color-scheme: dark) {
                background-color: darkslategray;
                color: whitesmoke;
            }

            margin: 10px;
            border: 1px solid lightslategray;
            border-radius: 5px;
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 24px;

            &.selected {
                background-color: darkslategray;
                color: whitesmoke;

                @media (prefers-color-scheme: dark) {
                    background-color: whitesmoke;
                    color: darkslategray;
                }
            }
        }
    }

    .begin-button {
        background-color: whitesmoke;
        color: darkslategray;
        @media (prefers-color-scheme: dark) {
            background-color: darkslategray;
            color: whitesmoke;
        }

        margin: 10px;
        border: 1px solid lightslategray;
        border-radius: 5px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        padding: 10px;

        &.disabled {
            background-color: gray;
            color: darkgray;
        }
    }
}

.game {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .menu-container {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;

        .menu-item {
            height: 50px;
            margin: 5px;
            border: 1px solid darkslategray;
            background-color: whitesmoke;
            color: darkslategray;
        }
    }

    .game-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .menu-board {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                background-color: black;
                color: white;
                border: none;
                font-size: 36px;
                height: 100%;
                width: 100%;
            }
        }

        .game-board {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 1 0 auto;
            
            .player {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 64px;
                color: black;
            
                &.player-0 {
                    background-color: rgb(255, 74, 74);
                }
                &.player-1 {
                    background-color: rgb(255, 153, 0);
                }
                &.player-2 {
                    background-color: rgb(255, 217, 0);
                }
                &.player-3 {
                    background-color: rgb(82, 161, 82);
                }
                &.player-4 {
                    background-color: rgb(123, 123, 199);
                }
                &.player-5 {
                    background-color: rgb(151, 113, 151);
                }
                
                &.total-players-6,
                &.total-players-5 {
                    height: 33%;
                    width: 50%;
                }
                &.total-players-4,
                &.total-players-3 {
                    height: 50%;
                    width: 50%;
                }
                &.total-players-2 {
                    width: 100%;
                    height: 50%;
                }
            
                .increment-button,
                .decrement-button {
                    width: 100px;
                    height: 50px;
                    background: transparent;
                    border: none;
                    font-size: 32px;
            
                    &:active {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
}