@import 'colors';

.container {
  padding: 0 2rem;
  overflow-x: hidden;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: $linkColor;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-left: 15px;
  line-height: 1.15;
  font-size: 4rem;
  transform: rotate(10deg);
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: white;
  transform: rotate(10deg);
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  z-index: 90;
  margin-top: -90px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  background-color: whitesmoke;
}

.card:hover,
.card:focus,
.card:active {
  color: $primary;
  border-color: $primary;
}

@media (prefers-color-scheme: dark) {
  .card:hover,
  .card:focus,
  .card:active {
    color: $primaryDark;
    border-color: $primaryDark;
  }
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

#t_card {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0 5px;
  transform: rotate(-18deg) translateX(2px) translateY(7px);
  display: inline-block;
  background-color: white;
  position: relative;
  z-index: 15;
}

#t_card:hover,
#c_card:hover,
#g_card:hover {
  z-index: 20;
  cursor: pointer;
}

#t_card:hover {
  background-color: rgb(230, 240, 255);
}
#c_card:hover {
  background-color: rgb(230, 255, 240);
}
#g_card:hover {
  background-color: rgb(255, 230, 240);
}

#c_card {
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  z-index: 10;
  transform: rotate( 0) translateX(0) translateY(0);
  position: relative;
}

#g_card {
  border: 3px solid black;
  border-radius: 5px;
  transform: rotate(18deg) translateX(-2px) translateY(5px);
  display: inline-block;
  background-color: white;
  z-index: 5;
  position: relative;
}

.tiltSection {
  background-color: $primary;
  transform: rotate(-10deg);
  margin-top: -60px;
  margin-bottom: 60px;
  width: 150%;
  padding: 40px 0 10px 0;
}

@media (prefers-color-scheme: dark) {
  .tiltSection {
    background-color: $primaryDark;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
